{% extends 'default.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="text-center w-50">
            <div class="alert alert-success" role="alert">
                <h3 class="alert-heading">Вы успешно вышли из аккаунта</h3>
                <p>Ваш выход был успешным. Теперь вы можете вернуться на главную страницу или войти снова.</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <a href="{% url 'home' %}" class="btn btn-outline-primary w-25">Вернуться на главную</a>
    </div>
</div>
{% endblock %}
